/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

::-moz-selection {
    background: #71c5e7;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #71c537;
    color: #a4003a;
    text-shadow: none;
}

/*
 * Improved default horizontal
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}


/* ==========================================================================
   General styles
   ========================================================================== */

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}
h1 {
  font-size: 80px; /* Default h1 size */
}

li {
  margin: 6px 0;
}

label {
  width: 28%;
  text-align: right;
  font-size: 18px;
}

input[type="text"] {
  width: 52%;
  margin-top: 2px;
  height: 35px;
  margin-bottom: 2px;
  padding: 2px;
  border: 2px solid #999999;
  vertical-align: middle;
}

select {
  width: 52%;
  margin-top: 2px;
  height: 105px;
  margin-bottom: 2px;
  padding: 2px;
  border: 2px solid #999999;
  vertical-align: top;
}

textarea {
  width: 52%;
  margin-top: 2px;
  height: 170px;
  margin-bottom: 2px;
  padding: 2px;
  border: 2px solid #999999;
  resize: none;
  overflow: auto;
  vertical-align: top;
}

/* Sizing overrides for mobile form factors */
@media only screen and (max-width: 768px) {
    h1 {
      font-size: 40px; /* Override h1 size for medium mobile */
    }
    label {
      width: 100%; /* Override width for mobile (JS sets line break) */
      text-align: left; /* Switching align so it doesn't look dumb */
    }
    input[type="text"] {
      width: 100%; /* Override width for mobile (JS sets line break) */
    }
    select {
      width: 100%; /* Override width for mobile (JS sets line break) */
    }
    textarea {
      width: 100%; /* Override width for mobile (JS sets line break) */
    }
}
@media only screen and (max-width: 640px) {
    h1 {
        font-size: 34px; /* Override h1 size for smaller mobile */
    }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded slider */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.navbar-brand {
	font-weight: 700;
  font-size: 26px;
}

.navbar-default .navbar-brand {
	color: #c10000;
}

.navbar-default {
	background-color: rgba(180, 180, 180, 0.80);
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #000000;
  font-size: 22px;
	background-color: transparent;
	border-bottom: 2px solid #000000
}

.navbar-default .navbar-nav > li > a {
	color: #000000;
  font-size: 22px;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #000000;
}

.dropdown-menu {
  background-color: rgba(180, 180, 180, 0.80);
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/Sunset_Small.jpg) no-repeat;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: fixed;
	background-position: center top;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
/*  -moz-background-size: 100%; */
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
/*  -moz-background-size: cover; */
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #4169e1
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#resourcewrap {
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: fixed;
	background-position: center center;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
/*  -moz-background-size: 100%; */
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
/*  -moz-background-size: cover; */
    -o-background-size: cover;
    background-size: cover;
}

#resourcewrap h1 {
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-weight: bold;
}

#resourcewrap h4 {
	font-weight: 400;
	color: #ffffff;
}

#profilewrap {
	background: url(../img/Focus.jpg) no-repeat;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: fixed;
	background-position: center bottom;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
/*  -moz-background-size: 100%; */
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
/*  -moz-background-size: cover; */
    -o-background-size: cover;
    background-size: cover;
}

#thinkingwrap {
	background: url(../img/Snoopy_Woodstock_Small.jpg) no-repeat;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: fixed;
	background-position: center bottom;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
/*  -moz-background-size: 100%; */
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
/*  -moz-background-size: cover; */
    -o-background-size: cover;
    background-size: cover;
}

#noncompetewrap {
	background: url(../img/lighthouse.jpg) no-repeat;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: fixed;
	background-position: left top;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
/*  -moz-background-size: 100%; */
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
/*  -moz-background-size: cover; */
    -o-background-size: cover;
    background-size: cover;
}

#gtkwrap {
	background: url(../img/gtk_background.png) no-repeat;
	margin-top: -70px;
	padding-top: 150px;
	text-align:center;
	background-attachment: fixed;
	background-position: left top;
	min-height: 250px;
	width: 100%;

    -webkit-background-size: 100%;
/*  -moz-background-size: 100%; */
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
/*  -moz-background-size: cover; */
    -o-background-size: cover;
    background-size: cover;
}

#Epic_Non_Compete_Form button {
  width: 52%;
  height: 40px;
  font-size: 20px;
}

#Feedback_Form select {
    height: 35px;
    vertical-align: middle;
}

#Feedback_Form button {
  width: 52%;
  height: 40px;
  font-size: 20px;
}

#enterprisesContent td {
  text-align: left;
}

/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.5;
}
